*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.header{
    width: 100%;
    height: auto;
    background-color: #eab300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
 
img{
    width: 200px;
    height: 200px;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image{
    width: 55%;
   display: flex;
   justify-content: space-between;
}
